<!doctype html>
<html>
  <head>
    <!-- Style and javascript links -->
  </head>
  <body>
    <% @sets.each do |set|%>
      <h2><a href = "/card_sets/<%=set.slug%>"><%=set.name%></h2>
    <% end %>
  </body>
</html>
