<form action="/card_instances" method="post" class = "new_card_form">
  <label>Name:</label>
  <input type="text" name="name" id = "Name">
  <br>
  <label>Count:</label>
  <input type="text" name="count" id = "Count">
  <br>
  <input type="submit" value="Create Card Instance">
</form>

