<h2>Edit Your Decks</h2>
<% @user.decks.each do |deck|%>
    <span>
        <a href = "/decks/<%=deck.slug%>/edit"><%=deck.name%></a>
        <form method="post" action="/decks/<%= deck.slug %>">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="x" name = <%= deck.slug %>>
        </form>

    </span>
      <br>
<% end %>
