<h3><%=@deck.name%></h2>
<table class = "deck_table">
    <th>Card</th>
    <th>Copies Owned/Count</th>

    <% @deck.card_instances.each do |card_instance| %>
    <tr>
        <td><%=card_instance.card.name%></td>
        <td><%=@user.get_card_counts(card_instance.card.name)%>/<%=card_instance.count%></td>
    </tr>
<%end%>
