<!doctype html>
<html>
  <head>
    <!-- Style and javascript links -->
  </head>
  <body>
      <h1>Welcome to MTG Card Collection Manager</h1>
      <h2>Inventory your cards and decks for Magic</h2>
      
      <p> Please <a href="/user/signup">Sign Up</a> or <a href="user/login">Log In</a> to continue.

      <div class = "failure">
      <% if flash.has?(:message) %>
        <span><%= flash[:message] %></span>
      <% end %>
    </div>
  
    </body>
</html>
