body {
    background-color:#9A8F97;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

input {
  padding: 10px;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

a {
  text-decoration: none;
  color: black
}

a:hover {
  text-decoration: underline;
}

input[type=text],  input[type=password]{
  padding: 12px 20px;
  border: none;
  background: transparent;

  border-bottom: 2px solid black;

}

input[type=text]:focus,  input[type=password] {
  border: none;
  background: transparent;

  border-bottom: 2px solid black;
}
.content-wrapper {
  max-width: 960px;
  margin: auto;
}

.delete_button {
  display:inline-block;

}

span a {
  display:inline-block;

}

input[type=submit]{
  background: transparent;
  border-radius: 2px;
  border: 2px solid black;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.failure {
  text-decoration: underline;
  text-align :center;
  font-size: 30px;

}